NEXT_PUBLIC_SUPABASE_URL=https://tgiuvopobdyuljwclgoo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRnaXV2b3BvYmR5dWxqd2NsZ29vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1MjgxMTYsImV4cCI6MjA4NzEwNDExNn0.cVu847cS-3ziHiBQGqXNhe5EzUN8-Liy7KZG6Fqp43U
